<div class="center-elements">
    <div>
        <h1>{{isEdit ? 'Edit' :
            'Add'}} location</h1>
    </div>
    <div>
        <form class="registration-form" [formGroup]="locationForm" (ngSubmit)="saveLocation()">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Latitude</mat-label>
                    <input readonly matInput formControlName="latitude">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Longitude</mat-label>
                    <input readonly matInput formControlName="longitude">
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Tags</mat-label>
                    <mat-select matInput formControlName="tags" multiple>
                        <mat-option *ngFor="let tag of tags" [value]="tag">
                            {{getOptionLabel(tag)}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="!isEdit" class="form-group" style="margin-bottom: 20px">
                <div style="width: 100%">
                    <button type="button" mat-raised-button (click)="fileInput.click()">Choose images *</button>
                    <input hidden (change)="onFileChange($event)" multiple #fileInput type="file" accept=".jpeg,.png">
                    <div style="margin-top: 10px;">
                        {{ getImageNames() }}
                    </div>
                </div>
            </div>
            <div>
                <button mat-raised-button color="primary" style='margin-right: 10px'>{{isEdit ? 'Edit' :
                    'Add'}}</button>
                <button mat-raised-button mat-dialog-close color="accent">Cancel</button>
            </div>
        </form>
    </div>
</div>