::ng-deep .gm-style-iw-c {
    width: 300px !important;
}

.center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}