<div class="center-elements">
    <mat-card>
        <mat-card-header>
            <h1>User registration</h1>
        </mat-card-header>
        <mat-card-content>
            <form class="registration-form" [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">
                <div className="form-group">
                    <mat-form-field>
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="firstName">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Confirm password</mat-label>
                        <input type="password" matInput formControlName="confirmPassword">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="primary" style='margin-right: 10px'>Register</button>
                    <a routerLink="/login" mat-raised-button color="accent">Back to login</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>